{% extends "partials/base.html" %}
{% load static %}


{% block title %}
<title>Contact Django Bakery</title>
{% endblock title %}

{% block content %}
<h1>Contact Django Bakery</h1>

<div>
If you have any questions, special orders, or feedback, feel free to get in touch with us.

You can visit our bakery during our working hours or reach out using the contact details below.

Address:
12 Baker Street, Sweet City

Phone:
+234 800 123 4567

Email:
contact@djangobakery.com

We look forward to hearing from you and serving you fresh baked goods soon.
</div>

{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock extra_css %}